.SearchBar_Container {
    margin: auto;
    flex-grow: 2;
    display: flex;
    height: 2rem;
  }
  .SearchBar_Container2 {
    margin: auto;
  }
  .search_div {
    display: flex;
    margin: auto;
    position: relative;
    z-index: 91;
  }
  .iBox_SearchBar {
    background-color: rgb(18, 18, 18);
    width: 30rem;
    border: 1px solid #FFD700;
    color: #FFD700;
    font-size: large;
    padding: 0.2rem;
    height: 2rem;
    padding-left: 2rem;
  }
  .searchIcon_SearchBar{
      cursor: pointer;
      padding: 0.75rem;
      width: 2rem;
      border-radius: 0.1rem;
      background-color: #FFD700;
      color: #000000;
  }
  .searchIcon_SearchBar:hover{
      background-color: #FFD700;
  }
  .Mic_SearchBar{
      border-radius: 100%;
      padding: 0.5rem;
      background-color: #000000;
  }
  
  .vid_bell_Navbar,
  .Mic_SearchBar{
      color: #FFD700;
      margin: auto 0.7rem;
  }