.received-videos-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.2);
}
  .received-videos-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color:  #FFD700;
  }
  
  .video-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .video-item {
    display: flex;
    flex-direction: column;
    background: #1A1A1A;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 215, 0, 0.2);
  }
  
  .video-player {
    width: 100%;
    border-radius: 8px;
    max-height: 400px;
    object-fit: cover;
    border: 2px solid #FFD700; /* Gold border */
  }
  
  .video-info {
    margin-top: 10px;
  }
  
  .video-info h3 {
    font-size: 18px;
    font-weight: bold;
    color: #FFD700;
  }
  
  .video-info p {
    font-size: 14px;
    color: #E5C100;
    margin-top: 5px;
  }
  
  .no-videos {
    text-align: center;
    font-size: 16px;
    color: #FFD700;
    margin-top: 20px;
  }